//responsive sizes
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;


//colours
$colour-1: #0B7171;
$colour-2: #CFCFCF;
$colour-3: #44D0D2;
$colour-4: #50C9C3;
$colour-5: #96DEDA;
$colour-6: #23A0A5;
$colour-7: #F6F6F6;
$colour-8: #B3B3B3;

$bg-1: linear-gradient(44.39deg, $colour-4 6.16%, $colour-5 94.73%);
$bg-2: linear-gradient(313.37deg, $colour-4 6.19%, $colour-5 95.6%);